<ul>
<li><strong>{{ contacte.nom | upper}}</strong></li>
<li><img src="{{ absolute_url(asset('imgs/imatge.png')) }}" /></li>
<li><strong>Telèfon</strong>: {{ contacte.telefon }}</li>
<li><strong>E-mail</strong>: {{ contacte.email }}</li>
</ul>
