{% extends 'base.html.twig' %}
{% block title %}Contactes{% endblock %}
{% block body %}
<h1>Contactes</h1>
<h2>Benvingut al web de contactes.</h2>
<p>Pàgina d'inici</p>
<a href ="{{ path('fitxa_contacte', {'codi': codi}) }}">...</a>

{% endblock %}
